<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
  
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Composant
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/employe">Employe</a></li>
              <li><a class="dropdown-item" href="/etudiant">Étudiant</a></li>
              <li><a class="dropdown-item" href="/ecole">École</a></li>
              <li><a class="dropdown-item" href="/departement">Département</a></li>
              <li><a class="dropdown-item" href="#">Branche</a></li>
              <li><a class="dropdown-item" href="#">Module</a></li>
              <li><a class="dropdown-item" href="#">Séance</a></li>
              <li><a class="dropdown-item" href="#">Présence</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ajouter Composant <i class="bi bi-plus-square"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addEmploye">Ajouter Employe</a></li>
              <li><a class="dropdown-item" href="/addEtudiant">Ajouter Étudiant</a></li>
              <li><a class="dropdown-item" href="/addEcole">Ajouter École</a></li>
              <li><a class="dropdown-item" href="#">Ajouter Département</a></li>
              <li><a class="dropdown-item" href="#">Ajouter Branche</a></li>
              <li><a class="dropdown-item" href="#">Ajouter Module</a></li>
              <li><a class="dropdown-item" href="#">Ajouter Séance</a></li>
              <li><a class="dropdown-item" href="#">Ajouter Présence</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <div class="d-flex">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              <li><a class="dropdown-item" href="#">profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
          
          </tr>
        </thead>
        <tbody class="table-group-divider" *ngFor="let user of users" >
          <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
          </tr>
        </tbody>
      </table>


